.container-tool {
  width: 100%;
  background-color: #f6f9fe;
  height: 30%;
  margin-top: 2rem;
}

.container-box {
  padding: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
  align-items: center;
}

.tool-left {
  width: 50%;
  text-align: center;
}

.tool-right {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

@media screen and (max-width: 960px) {
  .tool-left img {
    height: 80vh;
  }
  .tool-right {
    width: 70%;
    height: 100vh;
  }
}
@media screen and (max-width: 740px) {
  .tool-left img {
    height: 80vh;
  }
  .tool-right {
    width: 90%;
  }
  .container-tool {
    height: 20%;
  }
}

@media screen and (max-width: 500px) {
  .tool-left img {
    height: 50vh;
  }
  .tool-left {
    margin-bottom: 2rem;
  }
  .tool-right {
    height: 10%;
    padding-left: 2rem;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .container-box {
    display: flex;
    flex-direction: column;
  }
}
